extends layout

block content

  h1 list of foods
 
  table(border='1')
    thead
      tr
        th Show
        th Name
        th Pro
        th Fat
        th Cho
        th Edit 
        th Add To Meal
            //if meal/:id if has value goto that id
            //else goto newmeal

    for food in allFoods
      tr
        th 
            a(href='/food/' + food._id) Show
        td
            a(href='/food/' + food._id)= food.food_name
        td
            a(href='/food/' + food._id)= food.protien_grams
        td
            a(href='/food/' + food._id)= food.fat_grams
        td
            a(href='/food/' + food._id)= food.carbs_grams
        td
            a(href='/food/' + food._id + '/editfood') Edit

        td
            a(href='/meal/:id/editmeal') Add To Meal
  tr
      form(action="/food/newfood", method="post")
      input(type="submit" value='add new food')
