extends layout

block content

  h1 ketoHero
  p you are a hero!

  p
    a(href="/food/newfood") newfood
  p
    a(href="/food") foods
  p
    a(href="/meal/newmeal") newmeal
  p
    a(href="/meal") meals




      
