doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/showmeal.css')
    link(rel='stylesheet', href='/stylesheets/showfood.css')
    link(rel='stylesheet', href='/stylesheets/editmeal.css')
    link(rel='stylesheet', href='/stylesheets/editfood.css')
    link(rel='stylesheet', href='/stylesheets/meal.css')
    link(rel='stylesheet', href='/stylesheets/newmeal.css')
  body
    block content
