extends layout

block content

  h1 List of Meals
  a(href='/') Back to Nav

  table(border = '1')
    thead
      tr
        th Show
        th Meal Name
        th Food Name
        th Food Name
        th Edit


    for meal in allMeals
          tr
            th 
                a(href='/meal/' + meal._id) Show
            td
                a(meal._id)= meal.name
            td
                a(meal) #{meal.ingredient1.total_grams} 
            td
                a(meal) #{meal.ingredient1.food_name}
            td
                a(meal) #{meal.ingredient1.food_name}
            td
                a(href='/meal/' + meal._id + '/editmeal') Edit

    p
        a(href="/food/newfood") newfood
    p
        a(href="/food") foods
    p
        a(href="/meal/newmeal") newmeal
    p
        a(href="/meal") meals
      



   