extends layout

block content

  h1 List of Meals
  a(href='/') Back to Nav

  table(border = '1')
    thead
      tr
        th Show
        th Meal Name
        th PRO%
        th FAT%
        th CHO%
        th quantity
        th Food Name
        th PROg
        th FATg
        th CHOg

    for meal in allMeals
          tr
            th 
                a(href='/meal/' + meal._id) Show
            td
                a(meal_it._id)= meal.meal_name

            td
            td
            td
            //- td
            //-     a(food._id)= food.food_name
            td
                a(href='/meal/' + meal._id + '/editmeal') Edit
            
     
      thead
        tr
          th Show
          th totalPRO%
          th totalFAT%
          th totalCHO%
          th totalquantity
          th totalMeal Name
          th totalPROg
          th totalFATg
          th totalCHOg
a(href='/meal/' + meal._id + '/editmeal') Edit

      



   