extends layout

block content

  h1 build a new meal

  form(action="/meal/", method="post")
      div
        label  Meal Name
          input(type="text" name="total_grams")
      div
        label Food1
          //- input (id='meal_item1' type="button" name="select_food1" value="select a food" onclick=" location.href='index/food' ")
          input(type="text" name="meal_item")
      div
        label Food2
          //- input (id='meal_item2' type="button" name="select_food2" value="select a food" onclick=" location.href='index/food' ")
          input(type="text" name="meal_item")
      div
        label Food3
          //- input (id='meal_item3' type="button" name="select_food3" value="select a food" onclick=" location.href='index/food' ")
          input(type="text" name="meal_item")
      div
        label Food4
          //- input (id='meal_item4' type="button" name="select_food4" value="select a food" onclick=" location.href='index/food' ")
          input(type="text" name="meal_item")
      div
        label Food5
          //- input (id='meal_item5' type="button" name="select_food5" value="select a food" onclick=" location.href='index/food' ")
          input(type="text" name="meal_item")
      div
        input(type="submit" value='save new meal')

    
