extends layout

block content

  h1 Showing Meal

  table(border='1')
    thead
      tr
        th Name
        th Food1
        th Food2
      tr
        td
          a(meal._id)= meal.name
        td
          a(meal._id)= meal.meal_item1
        td 
          a(meal._id)= meal.meal_item2  
          

              
  tr
    a(href='/meal/' + meal._id + '/editmeal') Edit
  tr
    a(href='/meal/') Back to Meal List
  tr
    form(action='/meal/' + meal._id + "/delete", method='post', name='delete')
      button(type='submit') Delete