extends layout

block content

  h1 Showing Meal

  table(border='1')
    thead
      tr
        th Name
        th Food1
        th Food2
      tr
        td= allMeals.meal_name
        td
        td
  tr
    a(href='/meal/' + allMeals._id + '/editmeal') Edit
  tr
    a(href='/meal/') Back to Meal List
  tr
    form(action='/meal/' + allMeals._id + "/delete", method='post', name='delete')
      button(type='submit') Delete